﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="nilnul._ken_._KEN_.Default" %>

<%@ Register src="_Default.ascx" tagname="_Default" tagprefix="uc1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>KEN-Knowledge Engine at Nilnul</title>
</head>
<body>
    
		<uc1:_Default ID="_Default1" runat="server" />
    
</body>
</html>
