﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<p>
	it&#39;s</p>
<ol>
	<li>represented by formal lang, thus computable</li>
	<li>it&#39;s stated with requisites. there is no mutual or possible cycular links as in wiki, which is very unhelpful in constructing one&#39;s knowledge by reading the article there.</li>
    <li>it&#39;s leveled, higher in natural language and implemented in programming languages.</li>
    <li>it&#39;s moderated by experts.</li>
    <li>it contains both original creative contents as well as review and reference of others.</li>
	<li></li>
</ol>

