﻿<%@ Control Language="C#" AutoEventWireup="true"  %>
<p>
	Reserve knowledge after dooms day in a format paraphrasable by aliens.</p>
<p>
	This project help innocent children to acquire knowledge little by little from the ken reservoire.</p>

