﻿<%@ Control Language="VB" ClassName="UserCanLockARef2ARes" %>

<script runat="server">

</script>
<p>
	When you downloaded one resources from baidu document, u r reminded that you can save the file to ur personal baidu lib and then you can download from there for free for ever rather than pay for it if in the furture the document in the public domain may be charged for some money.</p>
<p>
	Saving in personal lib is infact locking a ref to an object and forbidding it from being recycled.</p>

