﻿<%@ Control Language="C#" AutoEventWireup="true" %>


<p>
	Conforms to</p>
<ol>
	<li>law</li><%-- this is politics, a layer higher than science; so even this is not scientific (for example you have to lie about sth tha law forbides you to tell the truth of a secret), it has to be done legally, not scientifically--%>
	<li>fact</li>
	<li>science</li>
</ol>



