﻿<%@ Control Language="C#" AutoEventWireup="true"  %>
<p>
	if you can&#39;t explain it to a six year old, you don&#39;t understand yourself.</p>
<p>
	白居易把诗念给老妪。</p>
<p>
	keep it simple and stupid.</p>
<p>
	简单是在两个知识（要传递的和已有的）间，寻找最短路径。</p>

