﻿<%@ Control Language="C#" AutoEventWireup="true"  %>

<%@ Register Assembly="nilnul._express_._compose_.WEB._CTR_" Namespace="nilnul._express_._compose_.WEB._CTR_.link_.loader_" TagPrefix="cc1" %>

   
		
	<cc1:link__loader__InThisApp ID="Link__loader__InThisApp1" runat="server" NavigateUrl="../Intro2KnowledgeAlgebra.ascx" title="零空知识代数">
		零空知识代数
<%--~/abc/def.ascx or /abc or abc/def--%>
	</cc1:link__loader__InThisApp>

