﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<p>
    From simple to complex</p>
<p>
    From natural to social</p>
<p>
    From objective to subjective</p>
<p>
    From physical to phylosophy</p>



