﻿<%@ Page Language="C#" AutoEventWireup="true"  %>


<%@ Register src="../Link.ascx" tagname="Link" tagprefix="uc1" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
   
	

	<form id="form1" runat="server">
		<uc1:Link ID="Link1" runat="server" />
	</form>
   
	

</body>
</html>
